.additional-products {
  overflow-x: hidden;
}

.additional-products__inner {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-top: 8px;
}

@media (min-width: $tablet-width) {
  .additional-products__inner {
    gap: 76px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__inner {
    margin-bottom: 96px;
  }
}

.additional-products__title {
  position: relative;
  align-self: flex-start;
  margin: 0;
  font-family: $Oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.additional-products__title::before,
.additional-products__title::after {
  content: "";
  position: absolute;
  top: calc((100% - 3px) / 2);
  height: 3px;
  width: 100vw;
  background-color: #68b738;
}

.additional-products__title::before {
  left: calc(100% + 40px);
}

.additional-products__title::after {
  right: calc(100% + 40px);
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    margin-left: 40px;
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__title {
    margin-left: 0;
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }
}

.additional-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}


@media (min-width: $tablet-width) {
  .additional-products__list {
    margin-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__list {
    width: calc(100% - 80px - 245px);
    margin: 0;
  }
}

.additional-products__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 0 18px;
  border-bottom: 1px solid #cdcdcd;
}

.additional-products__item:first-child {
  border-top: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .additional-products__item {
    gap: 22px;
    padding: 25px 39px 27px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__item {
    border-left: none;
    border-right: none;
    padding: 15px 0 16px;
    gap: 40px;
  }
}

.additional-products__item-title {
  width: 100%;
  margin: 0 0 12px;
  font-family: $Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  text-align: left;
  word-break: break-all;
}

@media (min-width: $tablet-width) {
  .additional-products__item-title {
    width: calc(50% - 11px);
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__item-title {
    max-width: 285px;
  }
}

.additional-products__item-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 14px;
  line-height: 14px;
  margin: 0 0 15px;
}

@media (min-width: $tablet-width) {
  .additional-products__item-info {
    width: calc(50% - 11px);
    font-size: 16px;
    line-height: 20px;
    margin: 3px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__item-info {
    max-width: 286px;
  }
}

.additional-products__key {
  width: calc(72% - 6px);
  text-align: left;
}

@media (min-width: $tablet-width) {
  .additional-products__key {
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__key {
    width: calc(83% - 6px);
    text-align: left;
  }
}

.additional-products__value {
  margin: 0;
  width: calc(28% - 6px);
  text-align: right;
  word-wrap: break-word;
}

@media (min-width: $desktop-width) {
  .additional-products__value {
    width: calc(17% - 6px);
    text-align: left;
  }
}

.additional-products__item-button {
  width: 100%;
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .additional-products__item-button {
    max-width: 244px;
  }
}

.additional-products__select-all {
  background: linear-gradient(0deg, rgba($color: $bg-base-color, $alpha: 0.85), rgba($color: $bg-base-color, $alpha: 0.85)), url("../../../images/catalog/catalog-selectall@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .additional-products__select-all {
    background: linear-gradient(0deg, rgba($color: $bg-base-color, $alpha: 0.85), rgba($color: $bg-base-color, $alpha: 0.85)), url("../../../images/catalog/catalog-selectall-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__select-all {
    width: 245px;
    margin: 0;
    background: linear-gradient(0deg, rgba($color: $bg-base-color, $alpha: 0.85), rgba($color: $bg-base-color, $alpha: 0.85)), url("../../../images/catalog/catalog-selectall@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.additional-products__select-all-title {
  position: relative;
  max-width: 161px;
  margin: 0 auto;
  padding: 187px 0 43px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.additional-products__select-all-title::before {
  content: "";
  position: absolute;
  top: 59px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  background-image: url("../../icons/stack.svg#select-all-gift");
}

@media (min-width: $tablet-width) {
  .additional-products__select-all-title {
    width: 161px;
    padding-top: 72px;
    padding-bottom: 68px;
    margin-right: 125px;
    text-align: left;
  }


  .additional-products__select-all-title::before {
    top: 57px;
    left: -344px;
  }
}


@media (min-width: $desktop-width) {
  .additional-products__select-all-title {
    padding-top: 185px;
    padding-bottom: 43px;
    text-align: center;
    margin: 0 auto;
  }

  .additional-products__select-all-title::before {
    left: calc(50% - 40px);
  }
}
