.catalog {
  padding-top: 25px;
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 32px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 38px;
    margin-bottom: 67px;
  }
}

.catalog__title {
  font-family: $Oswald;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0 0 38px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 80px;
  }
}

.catalog__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 22px 0 25px;
}

.catalog__item--more {
  padding: 25px 0;
}

.catalog__list::after,
.catalog__item::before {
  content: "";
  left: calc(50% - 50vw);
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: #d9d9d9;
}

.catalog__list::after {
  bottom: 0;
}

.catalog__item::before {
  top: 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    gap: 62px 60px;
  }

  .catalog__item {
    width: 324px;
    margin-top: 80px;
    padding: 161px 37px 40px;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  .catalog__item--more {
    margin-top: 80px;
    padding: 38px 36px;
    background-color: unset;
    border: 2px solid #f2f2f2;
  }

  .catalog__list::after,
  .catalog__item::before {
    content: unset;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    gap: 64px 80px;
  }

  .catalog__item {
    padding: 151px 38px 40px;
    width: 245px;
  }

  .catalog__item--more {
    padding: 38px 36px;
  }
}

.catalog__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .catalog__picture {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    height: 206px;
    left: 0;
    top: -70px;
  }
}

.catalog__description {
  width: 50%;
  margin-bottom: 20px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .catalog__description {
    width: 100%;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__description {
    margin-bottom: 34px;
  }
}

.catalog__subtitle {
  margin: 0 0 14px;
  padding-right: 60px;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@media (min-width: $tablet-width) {
  .catalog__subtitle {
    max-width: 135px;
    margin: 0 auto 12px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog__subtitle {
    margin-bottom: 18px;
  }
}

.catalog__subtitle--centered {
  position: relative;
  padding-top: 54px;
  padding-right: 0;
  margin-bottom: 9px;
  width: 100%;
}

.catalog__subtitle--centered::before,
.catalog__subtitle--centered::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #d3d3d3;
}

.catalog__subtitle--centered::before {
  width: 30px;
  height: 2px;
  top: 14px;
  left: calc(50% - 14px);
}

.catalog__subtitle--centered::after {
  width: 2px;
  height: 30px;
  top: 0;
  left: calc(50% - 1px);
}

@media (min-width: $tablet-width) {
  .catalog__subtitle--centered {
    padding-top: 120px;
    margin-bottom: 23px;
  }

  .catalog__subtitle--centered::before {
    width: 60px;
    top: 40px;
    left: calc(50% - 29px);
  }

  .catalog__subtitle--centered::after {
    height: 60px;
    top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__subtitle--centered {
    padding-top: 110px;
    margin-bottom: 26px;
  }
}

.catalog__subtext {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 20px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .catalog__subtext {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    align-self: center;
  }
}

.catalog__params {
  margin: 0;
}

.catalog__param {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .catalog__param {
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .catalog__param {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.catalog__key,
.catalog__value {
  max-width: calc(50% - 10px);
  flex-shrink: 0;
  word-break: break-all;
}

.catalog__value {
  margin: 0;
  text-align: right;
}

.catalog__show-all,
.catalog__order {
  text-decoration: none;
  margin-top: auto;
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .catalog__show-all,
  .catalog__order {
    flex-grow: 0;
  }
}
