.catalog-subscribrion__title {
  font-family: $Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.catalog-subscribrion__text {
  font-family: $Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.catalog-subscribrion__input {
  font-family: $Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.64px;
  text-transform: uppercase;
  color: #444444;
}

.catalog-subscribrion__button {
  font-family: $Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $bg-base-color;
}
