*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  font-family: "lato", "Arial", sans-serif;
  color: $base-color-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.visually-hidden {
  display: none;
}
