*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  font-family: "lato", "Arial", sans-serif;
  color: $base-color-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


@media (min-width: $mobile-width) {
  .container-mobile {
    width: 280px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px;
    margin: 0 auto;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
  font-family: $Oswald;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: $bg-base-color;
  color: #ffffff;
}

.button--large {
  padding: 14px;
  font-size: 20px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .button--growing {
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
  }
}

.button--grey {
  background-color: #f2f2f2;
  color: $base-color-text;
}

.button:hover,
.button:active {
  background-color: #5eaa2f;
}

.button--grey:hover,
.button--grey:active {
  background-color: #ebebeb;
}

.button:active {
  color: rgba($color: #ffffff, $alpha: 0.3);
}

.button--grey:active {
  color: $base-color-text;
}
