.program-results {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .program-results {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
  }
}


@media (min-width: $desktop-width) {
  .program-results {
    background-color: #ffffff;
    display: flex;
    border: none;
    width: 1220px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .program-results__wrapper {
    display: flex;
    margin-bottom: 73px;
    gap: 162px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__wrapper {
    flex-flow: wrap;
    max-width: 500px;
    gap: 0;
  }
}

.program-results__title {
  font-family: $Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px 20px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .program-results__title {
    font-size: 60px;
    line-height: 60px;
    width: 384px;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .program-results__title::before {
    content: "";
    height: 1px;
    background-color: #d9d9d9;
    display: block;
    width: 100vw;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__title {
    text-align: left;
    margin-bottom: 146px;
  }

  .program-results__title::before {
    display: none;
  }
}

.program-results__text {
  text-align: left;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .program-results__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__text {
    margin-bottom: 69px;
    max-width: 450px;
  }

  .program-results__info-wrapper {
    max-width: 450px;
  }
}

.program-results__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .program-results__list {
    flex-basis: 367px;
    gap: 43px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__list {
    margin-bottom: 66px;
  }
}


.program-results__item {
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  flex-basis: 124px;
  padding: 14.47px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .program-results__item {
    font-size: 30px;
    line-height: 37px;
    flex-basis: 162px;
  }
}

.program-results__text-wrapper {
  color: #444444;
  background-color: #eaeaea;
  width: 81px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
  top: 44px;
  left: 20px;
}


@media (min-width: $tablet-width) {
  .program-results__text-wrapper {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    top: 61px;
    left: 12px;
    width: 136px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__text-wrapper {
    top: 57px;
  }
}

.program-results__item:last-child {
  margin-left: auto;
}


.program-results__expenses {
  font-family: $Oswald;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .program-results__expenses {
    font-size: 20px;
    margin-left: auto;
    flex-basis: 176px;
    text-align: right;
    margin-top: 12px;
  }

  .program-results__amount-wrapper {
    margin-left: auto;
    margin-top: 10px;
    display: block;
  }

  .slider {
    padding-bottom: 101px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .program-results__expenses {
    text-align: left;
    margin: 0;
    display: flex;
    flex-basis: 329px;
  }

  .program-results__amount-wrapper {
    margin-top: 0;
  }

  .slider {
    padding: 0;
    margin-bottom: 0;
    margin-left: 205px;
  }
}
