.program-description {
  background-color: #d9d9d9;
}

.program-description__title {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.program-description__link {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
