.program-results {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .program-results {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .program-results {
    background-color: #ffffff;
    display: flex;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .program-results__wrapper {
    display: flex;
    margin-bottom: 99px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__wrapper {
    margin-left: 110px;
    flex-flow: wrap;
    max-width: 500px;
  }
}

.program-results__title {
  font-family: $Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .program-results__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__title {
    margin-left: 110px;
  }
}

.program-results__text {
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .program-results__text {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .program-results__text {
    margin-left: 110px;
    margin-bottom: 69px;
  }
}

.program-results__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media (min-width: $tablet-width) {
  .program-results__list {
    flex-basis: 367px;
    gap: 43px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__list {
    margin-bottom: 55px;
  }
}


.program-results__item {
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  flex-basis: 124px;
  padding: 14.47px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .program-results__item {
    font-size: 30px;
    line-height: 37px;
    flex-basis: 162px;
  }
}

.program-results__text-wrapper {
  color: #444444;
  background-color: #eaeaea;
  width: 81px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
  top: 44px;
  left: 20px;
}


@media (min-width: $tablet-width) {
  .program-results__text-wrapper {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    top: 58px;
    left: 12px;
    width: 136px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__text-wrapper {
    top: 57px;
  }
}

.program-results__item:last-child {
  margin-left: auto;
}


.program-results__expenses {
  font-family: $Oswald;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 20px 0;
}

@media (min-width: $tablet-width) {
  .program-results__expenses {
    font-size: 20px;
    margin-left: auto;
    flex-basis: 174px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .program-results__expenses {
    flex-basis: 310px;
    text-align: left;
    margin: 0;
    display: flex;
  }

  .program-results__amount-wrapper {
    margin-left: auto;
  }
}
