.program-results {
  background-color: #eaeaea;
  padding: 25px 20 40px;
}

@media (min-width: $tablet-width) {
  .program-results {
    position: relative;
    border-top: 1px solid #e6e6e6;
    background-color: unset;
    padding: 38px 0 101px;
    overflow-x: hidden;
  }

  .program-results::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 462px;
    background-color: #eaeaea;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .program-results {
    padding: 0 0 69px;
    border-top: none;
  }

  .program-results::before {
    height: calc(100% - 142px);
  }

  .program-results__inner {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: $tablet-width) {
  .program-results__info {
    margin-bottom: 104px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__info {
    width: 432px;
    margin-bottom: 0;
  }
}

.program-results__title {
  margin: 0 0 40px;
  font-family: $Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .program-results__title {
    font-size: 60px;
    line-height: 72px;
    margin: 0 0 53px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__title {
    margin-bottom: 140px;
  }
}

.program-results__text {
  text-align: left;
  margin: 0 0 20px;
}

@media (min-width: $tablet-width) {
  .program-results__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__text {
    margin-bottom: 69px;
  }
}

@media (min-width: $tablet-width) {
  .program-results__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
  }
}

.program-results__list {
  padding: 0;
  margin: 0 0 34px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .program-results__list {
    width: 368px;
    margin-bottom: 0;
    gap: 44px;
  }
}

.program-results__item {
  position: relative;
  width: calc(50% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 4px 16px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-family: $Oswald;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  word-break: break-all;
}

@media (min-width: $tablet-width) {
  .program-results__item {
    width: calc(50% - 22px);
    padding: 15px 4px 18px;
    font-size: 30px;
    line-height: 37px;
  }
}

.program-results__description {
  position: absolute;
  bottom: -16px;
  left: calc(50% - 40px);
  width: 80px;
  font-family: "lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #eaeaea;
  word-break: normal;
}


@media (min-width: $tablet-width) {
  .program-results__description {
    bottom: -6px;
    left: calc(50% - 68px);
    width: 136px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: $desktop-width) {
  .program-results__description {
    background-color: #eaeaea;
  }
}

.program-results__expenses {
  margin: 0 0 20px;
  font-family: $Oswald;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .program-results__expenses {
    width: 174px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 32px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .program-results__expenses {
    width: 100%;
    display: flex;
    text-align: left;
  }

  .program-results__amount {
    margin-left: 67px;
    flex-shrink: 0;
    word-break: break-all;
  }
}

.program-results__slider {
  display: flex;
}

.program-results__slider-inner {
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .program-results__slider {
    flex-shrink: 0;
    margin-top: 7px;
  }
}

.program-results__handler {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #666666;
}

.program-results__handler:hover,
.program-results__handler:focus,
.program-results__handler:active {
  color: #68b738;
}

.program-results__handler:active {
  opacity: 0.6;
}

.program-results__picture {
  display: flex;
}
