.program-description {
  margin-bottom: 20px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .program-description {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .program-description {
    margin-bottom: 83px;
  }
}

.program-description__list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .program-description__list {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program-description__list {
    flex-direction: row;
    gap: 80px;
  }
}

.program-description__item {
  position: relative;
  padding: 30px 20px 18px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.program-description__item::before,
.program-description__item::after {
  content: "";
  position: absolute;
  display: inline-flex;
}

.program-description__item::before {
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $bg-base-color;
}

.program-description__item--cat::after {
  top: 21px;
  left: 27px;
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#program-cat");
}

.program-description__item--tiger::after {
  top: 35px;
  left: 12px;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#program-tiger");
}

@media (min-width: $tablet-width) {
  .program-description__item {
    padding: 76px 316px 52px 52px;
  }

  .program-description__item::before,
  .program-description__item::after {
    left: unset;
  }

  .program-description__item::before {
    top: 92px;
    right: 63px;
    width: 200px;
    height: 200px;
  }

  .program-description__item--cat::after {
    top: 81px;
    right: 93px;
    width: 140px;
    height: 194px;
  }

  .program-description__item--tiger::after {
    top: 136px;
    right: 29px;
    width: 268px;
    height: 112px;
  }
}

@media (min-width: $desktop-width) {
  .program-description__item {
    max-width: 570px;
    padding: 76px 52px 52px;
  }

  .program-description__item::before,
  .program-description__item::after {
    right: unset;
  }

  .program-description__item::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }

  .program-description__item--cat::after {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
  }

  .program-description__item--tiger::after {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
  }
}

.program-description__title {
  font-family: $Oswald;
  margin: 0 0 29px 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  word-break: break-all;
}


@media (min-width: $tablet-width) {
  .program-description__title {
    margin: 0 0 22px;
    font-size: 36px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .program-description__title {
    margin: 0 0 70px 162px;
  }
}

.program-description__text {
  margin: 0 0 15px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .program-description__text {
    margin-bottom: 48px;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .program-description__text {
    margin-bottom: 23px;
  }
}

.program-description__link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.program-description__link::after {
  content: "";
  width: 24px;
  height: 12px;
  flex-shrink: 0;
  mask-image: url("../../icons/stack.svg#program-arrow");
  mask-position: right;
  mask-size: 32px 12px;
  mask-repeat: no-repeat;
  background-color: currentColor;
}

.program-description__link:hover::after,
.program-description__link:focus::after,
.program-description__link:active::after {
  width: 32px;
}

.program-description__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .program-description__link {
    gap: 25px;
    font-size: 20px;
    line-height: 38px;
  }
}
