.program-selection {
  font-family: $Oswald;
  color: #ffffff;
}

@media (min-width: $desktop-width) {
  .program-selection {
    margin-top: -67px;
    margin-bottom: 80px;
    max-height: 700px;
  }
}

.program-selection__background-wrapper {
  content: "";
  display: block;
  height: 302px;
  width: 100%;
  background-image: url("../../../images/main/index-background-mobile.png"), url("../../../images/main/index-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 138px;
}


@media (min-width: $tablet-width) {
  .program-selection__background-wrapper {
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__background-wrapper {
    display: block;
    margin: 0;
    margin-left: auto;
    padding: 0;
    width: 50%;
    height: 694px;
    background-image: url("../../../images/main/index-background-desktop.png"), url("../../../images/main/index-background2.png");
    background-size: cover;
  }
}

.program-selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .program-selection__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }
}

.program-selection__subtitle {
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-selection__subtitle {
    color: #000000;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .program-selection__promo-text-wrapper {
    max-width: 416px;
    text-align: left;
    margin-left: 120px;
    margin-top: 65px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__promo-text-wrapper {
    position: absolute;
    top: 161px;
    left: -8px;
  }
}


.program-selection__button {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $bg-base-color;
  height: 40px;
  border: none;
  padding: 0;
  margin-bottom: 20px;
}


@media (min-width: $tablet-width) {
  .program-selection__button {
    position: relative;
    bottom: 579px;
    width: 244px;
    right: 144px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__button {
    display: flex;
    margin-top: 400px;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .program-selection__promo-image {
    position: absolute;
    top: 232px;
  }
}

@media (min-width: $tablet-width) {
  .program-selection__promo-image {
    display: block;
    margin: -250px auto 0;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__promo-image {
    margin-top: -472px;
  }
}
