

.page-nav__toggle {
  background-image: url("../../icons/stack.svg#menu-burger");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
}

.page-nav__toggle-close {
  background-image: url("../../icons/stack.svg#menu-cross-mobile");
}
