.page-footer {
  background-color: #f2f2f2;
}

.page-footer__list {
  list-style: none;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-footer__list {
    flex-direction: row;
    align-items: center;
  }
}


.page-footer__item-logo-text {
  margin: auto;
}

.page-footer__list-socials {
  gap: 24px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}


.page-footer__social-link {
  background-position: 50%;
  background-repeat: no-repeat;
}

.vk {
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#vkontakte-icon");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
  display: block;
}

.youtube {
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#youtube-icon");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
  display: block;
}

.telegram {
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#telegram-icon");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
  display: block;
}

.page-footer__academy-logo-link {
  text-decoration: none;
  color: $base-color-text;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  gap: 23px;
  align-items: center;
}

.page-footer__academy-logo-img {
  display: flex;
}

.page-footer__break-line {
  border: 1px solid #d9d9d9;
  width: 280px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .page-footer__break-line {
    border: none;
    display: none;
  }
}
