
@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }
}

.page-nav {
  font-family: $Oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: auto;
}

.page-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-nav__list {
    display: flex;
  }
}

.page-nav__item-link {
  text-decoration: none;
  color: #000000;
}

.page-nav__toggle {
  background-image: url("../../icons/stack.svg#menu-burger");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .page-nav__toggle {
    display: none;
  }
}

.page-nav__toggle-close {
  background-image: url("../../icons/stack.svg#menu-cross-mobile");
}

@media (min-width: $tablet-width) {
  .page-nav__toggle-close {
    display: none;
  }
}
